{:paths ["src/main" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        org.clojure/core.async {:mvn/version "1.6.673"}
        com.fulcrologic/fulcro {:mvn/version "3.6.4"}}
 :aliases {:dev {:extra-paths ["src/dev"]
                 :extra-deps {org.clojure/clojurescript {:mvn/version "1.11.4"}
                              thheller/shadow-cljs {:mvn/version "2.18.0"}
                              binaryage/devtools {:mvn/version "1.0.0"}}}
           :local-repl
           {:extra-deps {cider/cider-nrepl {:mvn/version "0.30.0"},
                         mx.cider/tools.deps.enrich-classpath {:mvn/version "1.9.0"},
                         nrepl/nrepl {:mvn/version "1.1.0-alpha1"},
                         refactor-nrepl/refactor-nrepl {:mvn/version "3.6.0"}},
            :main-opts ["-m" "nrepl.cmdline" "-b" "0.0.0.0" "-p" "8675" "--middleware" "[refactor-nrepl.middleware/wrap-refactor,cider.nrepl/cider-middleware]"]}
           :release
           {:extra-deps {applied-science/deps-library {:mvn/version "0.4.0"}}
            :main-opts ["-m" "applied-science.deps-library"]}}}
